{
  "extends": [
    "eslint:recommended",
    "plugin:solid/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
    "ecmaVersion": "latest"
  }
}
