/* BUTTONS ---------------------------------- */

.standardButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 5px;
  transition: 0.2s;
}

.icon-btn {
  background-color: var(--card);
  color: var(--foreground) !important;
  @apply flex h-12 cursor-pointer items-center justify-between gap-2 px-3 transition hover:bg-card-hover;
}

.icon-btn-transparent {
  @apply flex h-12 cursor-pointer items-center justify-between gap-2 bg-card-glass px-3 text-foreground transition hover:bg-card-glass-hover backdrop-blur-[10px] hover:backdrop-blur-[5px] focus:backdrop-blur-[5px];
}

.btn {
  background-color: var(--card);
  color: var(--foreground);
  @apply h-12 cursor-pointer px-3 transition hover:bg-card-hover;
}

.btn-transparent {
  @apply h-12 cursor-pointer bg-card-glass px-3 text-foreground transition hover:bg-card-glass-hover backdrop-blur-[10px] hover:backdrop-blur-[5px] focus:backdrop-blur-[5px];
}

.small-btn {
  @apply h-8 cursor-pointer bg-card px-2 text-foreground/80 transition hover:bg-card-hover;
}

button {
  transition:
    transform 120ms ease,
    filter 120ms ease;
  will-change: transform;
}

button:active {
  transform: scale(0.975);
  filter: brightness(0.96);

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* INPUT ------------------------------------ */

.input-field {
  background-color: var(--card);
  color: var(--foreground);
  @apply p-3 transition hover:bg-card-hover;
}

input {
  transition: 0.2s;
}
