/* SCROLLBARS ------------------------------- */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  margin: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  @apply bg-scroll-thumb;
}

#sideBarFolders::-webkit-scrollbar,
.SGDBGamesContainer::-webkit-scrollbar {
  display: none;
}

#sideBarFolders:hover::-webkit-scrollbar {
  width: 5px;
  display: block;
}

#sideBarFolders:hover::-webkit-scrollbar-track {
  margin: 5px;
}

#sideBarFolders:hover::-webkit-scrollbar-thumb {
  @apply bg-scroll-thumb-hover;
}
